
.page {
  width: 50rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 25px;
  overflow-wrap: break-word;
  flex: 1;
}

a {
  display: block;
}

#url {
  margin: 0;
  padding: 12px;
  border: 1px solid lightgray;
  position: sticky;
  top: 0;
}

h1, h2, h3, p, pre {
  margin: 0;
}

pre {
  line-height: 1;
  overflow-wrap: unset;
}

#input {
  width: 100%;
}