@font-face {
  font-family: 'Hebrew';
  src: url('Hebrew.ttf');
  font-display: block;
  unicode-range: U+0590-05FF
}

html {
  font-family:
    'Hebrew',
    -apple-system,
    BlinkMaxSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    system-ui,
    sans-serif;
  line-height: 1.5;
  font-size: calc(0.26vw + 12pt);

  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}